{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | About{% endblock %}

{% block content %}
<div class="p-7 px-10 border-1 border-slate-200 shadow-md">
    <h1 class="text-lg font-medium"> Hi welcome to my Training factory site</h1>
    <p class="text-md font-medium">we are two students from the school Roc mondriaan. we have get the assignment
        to build a website for school, we are making this site for people who want to boks, kickboks,
        MMA who want to join our team.
    </p>
</div>


{% endblock %}
