{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | About{% endblock %}

{% block content %}
<div class="p-7 px-10 border-1 border-slate-200 shadow-md h-[700px] max-w-[900px] mx-auto">
    <h1 class="text-lg font-medium"> Welkom op mijn Training factory site</h1><br>
    <p class="text-md font-medium"> Hi wij zijn twee studenten van de school Roc Mondriaan en wij
        hebben de opdracht gekregen om een website te maken. We hebben deze website gemaakt voor
        degene die willen boksen, kickboksen vooral en MMA willen doen kunnen hier inschrijven. Het
        is voor jong en oud en daarnaast zijn er stootzak trainingen, bootcamps en fitness-uren.
        Zodat ze onze team joinen en kunnen beginnen met trainen en lessen. Zelf zit onze sportschool
        in Den Haag.
    </p>
</div>



{% endblock %}
