{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | About{% endblock %}

{% block content %}
  <br><div class="p-9 pt-9 px-10 border-2 border-slate-200 shadow-md h-[700px] max-w-[900px] mx-auto flex grid   gap-1">
      <div class="col-start-2 col-span-4">
          <h1 class="text-lg font-medium"> Welkom op mijn Training factory site</h1><br>
          <p class="text-md font-medium"> Hi ik ben J. Maipauw hbe ervaring in MMA en kickboxen. Ik heb deze website laten maken voor
              degene die willen boksen, kickboksen vooral en MMA willen doen kunnen hier inschrijven en om kickbox
              meer te promoten bij een groter publiek. Het is voor jong en oud en daarnaast zijn er stootzak trainingen, bootcamps en fitness-uren.
              Zodat ze onze team joinen en kunnen beginnen met trainen en lessen. Zelf zit onze sportschool
              in Den Haag.
          </p>
      </div>
      <br>
      <div class="border-1 border-slate-300 shadow-md   h-[200px] max-w-[280px] mx-auto ">
          <h4>"Hi ik ben Yusuf (18) een van de medestudent die aan dit project  meewerk."</h4><br>
          <div>Yusuf</div>
          <div>software developer</div>
      </div>
      <div class="border-1 border-slate-300 shadow-md h-[200px] max-w-[280px] mx-auto col-end-7 col-span-2">
          <h4>"Hi ik ben Emmanuel (19) een van de medestudent die aan dit project  meewerk."</h4><br>
          <div>Emmanuel owusu</div>
          <div>software developer</div>
      </div>
  </div>
{% endblock %}
