{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Huisregels{% endblock %}

{% block content %}
    <div>
        <h3 class="text-lg font-medium">the rules of the house</h3>
    </div>
{% endblock %}
