{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Huisregels{% endblock %}

{% block content %}
    <h2 class="text-2xl font-medium pl-[800px]">de 10 regels van de huis</h2>
    <br>
    <div class=" border-2 border-slate-200 shadow-lg h-[500px] w-[800px] max-w-[900px] mx-auto  p-7  pl-[100px] grid grid-cols-3 gap-3">

        <div>
           <h3>1</h3>
           <p>wees altijd op tijd</p>
       </div>

        <div>
            <h3>2</h3>
            <p> behandel iedereen met respect </p>
        </div>
        <div>
            <h3>3</h3>
            <p> luister naar wat je leider je zegt</p>
        </div>
        <div>
            <h3>4</h3>
            <p>Take Your Shoes Off</p>
        </div>
        <div>
            <h3>5</h3>
            <p>Don’t Hurt Your Training Partners</p>
        </div>
        <div>
            <h3>6</h3>
            <p>Cover Your Wounds</p>
        </div>
        <div>
            <h3>7</h3>
            <p></p>
        </div>
        <div>
            <h3>8</h3>
            <p></p>
        </div>
        <div>
            <h3>9</h3>
            <p></p>
        </div>
        <div>
            <h3>10</h3>
            <p></p>
        </div>
    </div>

{% endblock %}
