{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Huisregels{% endblock %}

{% block content %}
    <div class="p-7  pl-[650px]">
        <h2 class="text-2xl font-medium">de 10 regels van de huis</h2>
       <div>
           <h3>1</h3>
           <p>wees altijd op tijd</p>
       </div>
        <div>
            <h3>2</h3>
            <p>behandel iedereen met respect</p>
        </div>
        <div>
            <h3>3</h3>
            <p> luister naar wat je leider je zegt</p>
        </div>
        <div>
            <h3>4</h3>
            <p></p>
        </div>
        <div>
            <h3>5</h3>
            <p></p>
        </div>
        <div>
            <h3>6</h3>
            <p></p>
        </div>
        <div>
            <h3>8</h3>
            <p></p>
        </div>
        <div>
            <h3>9</h3>
            <p></p>
        </div>
        <div>
            <h3>10</h3>
            <p></p>
        </div>
    </div>
{# 2 Take Your Shoes Off#}
{# 4 Don’t Hurt Your Training Partners#}
{# 5 Cover Your Wounds#}

{% endblock %}
