{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Huisregels{% endblock %}

{% block content %}
    <h2 class="text-2xl font-medium pl-[800px]">de 10 regels van de huis</h2>
    <br>
    <ol class="list-decimal text-center">
        <li>
            <h3>1</h3>
            <p>Wees altijd op tijd</p>
        </li>
        <li>
            <h3>2</h3>
            <p>Behandel iedereen met respect </p>
        </li>
        <li>
            <h3>3</h3>
            <p>Luister naar wat je leider je zegt</p>
        </li>
        <li>
            <h3>4</h3>
            <p>Doe je schoenen uit op de mat</p>
        </li>
        <li>
            <h3>5</h3>
            <p>Doe je trainingpartner geen pijn</p>
        </li>
        <li>
            <h3>6</h3>
            <p>Bedek je wonden</p>
        </li>
        <li>
            <h3>7</h3>
            <p>Laat alles netje en heel achter</p>
        </li>
        <li>
            <h3>8</h3>
            <p></p>
        </li>
        <li>
            <h3>9</h3>
            <p></p>
        </li>
        <li>
            <h3>10</h3>
            <p></p>
        </li>
    </ol>



{% endblock %}
