{% extends './base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block content %}
    <div class="flex justify-center w-full">
        <a href="{{ path("app_dashboard_users") }}" class="mx-5 mt-[10rem]">
            <div class="max-w-sm w-fit p-6 bg-white border border-gray-200 rounded-lg shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-[15rem] mx-auto">
                    <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
                <h2 class="my-3 text-2xl font-semibold tracking-tight text-center text-gray-900">Users</h2>
            </div>
        </a>

        <a href="{{ path("app_dashboard_training") }}" class="mx-5 mt-[10rem]">
            <div class="max-w-sm w-fit p-6 bg-white border border-gray-200 rounded-lg shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-[15rem] mx-auto">
                    <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </svg>
                <h2 class="my-3 text-2xl font-semibold tracking-tight text-center text-gray-900">Trainingsvormen</h2>
            </div>
        </a>
    </div>
{% endblock %}
