@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 88px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.carousel-item {
    opacity: 0;
}
.carousel-item.active {
    opacity: 0;
}
.carousel-item.inactive {
    opacity: 100%;
}

#registration_form_birthdate > * {
    padding: .5rem .75rem;
    border: 2px solid white;
}